* {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  --color-primary: #0C8CE9;
  --color-complementary: #E9590C;
  --color-error: #dc3545;
  --color-darkGray: #888888;
  --color-lightGray: #D6D6D6;
  --color-background: #EFEFEF;
  --color-card-hover: hsl(210, 67%, 90%);
  --color-fade: linear-gradient(112.69deg, #0C8CE9 -1.31%, #6310A4 100.69%);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-lightGray);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-darkGray);
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
}

/*------------------------CSS properties for components-----------------------*/
/*----------------------------------------------------------------------------*/

/*-------------------Background Component---------------------*/
/*------------------------------------------------------------*/
.background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
}

/*--------------------Footer Component------------------------*/
/*------------------------------------------------------------*/
.footer {
  width: 100%;
  height: 3px;
  background: var(--color-fade);
  position: absolute;
  bottom: 0;
}

/*----------------------Card Component------------------------*/
/*------------------------------------------------------------*/
.card {
  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}

/*---------------------Button Component-----------------------*/
/*------------------------------------------------------------*/
.button {
  padding: .25rem .30rem .25rem .30rem;
  background-color: var(--color-primary);
  border-radius: .25rem;
  font-size: .9rem;
  color: white;
  border: none;
  cursor: pointer;
}

.button-box {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: .25rem;
}

.button-primary {
  background-color: var(--color-primary);
}

.button-secondary {
  background-color: var(--color-complementary);
}

/*----------------------Form Component------------------------*/
/*------------------------------------------------------------*/
.form-component {
  position: relative;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.form-error {
  width: 100%;
  background: var(--color-error);

  opacity: 0.8;
  margin: .25rem 0;
}

.form-error span {
  padding: .5rem;
}


.form-input-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
  grid-gap: .9rem;
}

.form-input {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-input-box {
  width: 100%;
  max-width: 20rem;
  padding-bottom: 1rem;
  position: relative;
}

.form-input label {
  margin-bottom: .25rem;
  display: block;
}

.form-input input {
  width: calc(100% - .6rem);
  height: 1.5rem;
  padding-left: .5rem;
  display: block;
  font-family: inherit;
  font-size: 14px;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
}

.form-input select {
  width: calc(100% - .6rem);
  height: 1.5rem;
  display: block;
  font-family: inherit;
  font-size: 14px;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  margin: 0;
}

.form-input textarea {
  width: calc(100% - .6rem);
  height: 4.5rem;
  padding-left: .5rem;
  display: block;
  font-family: inherit;
  font-size: 14px;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  resize: none;
}

.form-input small {
  width: 100%;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--color-error);
}

input[type="file"] {
  display: none;
}

.form-search-input-list {
  width: inherit;
  position: absolute;
  z-index: 1;
  border: 1px solid #D6D6D6;
}

.form-search-input-item {

  width: inherit;
  padding: .25rem 0 .25rem 0;
  height: 2rem;
  display: flex;
  align-items: center;
  background-color: white;

}

.form-search-input-item img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: .25rem;
  margin-left: .25rem;
}

.form-search-input-item:hover {
  background-color: var(--color-card-hover);
}

.formstep-buttonbox {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;

}

.formstep-buttonbox svg {
  width: .5rem;
  height: .5rem;
  color: var(--color-lightGray);
}

.formstep-content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-products-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-products-input small {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: var(--color-error);
}

/*--------------------Tab Menu Component----------------------*/
/*------------------------------------------------------------*/
.tabmenu-component {
  margin-top: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tabmenu-tab-underscore {
  height: 2px;
  border-radius: 1rem;
  background-color: var(--color-primary);
}

.tabmenu-tab-activated .tabmenu-tab-name {
  color: var(--color-primary);
}

/*-------------------Search Bar Component---------------------*/
/*------------------------------------------------------------*/
.searchbar-component {
  width: 20rem;
  min-width: 5rem;
  height: 2.5rem;
  padding: 0 2rem 0 0;
  background-color: #D9D9D9;
  border-radius: 3rem;
  position: relative;
}

.searchbar-component input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: #888888;
  border-radius: 3rem;
  padding: 0 0 0 2rem;
}

.searchbar-component input:focus {
  outline-color: var(--color-primary);
  outline-style: solid;
  outline-width: 2px;
}

.searchbar-component svg {
  width: 1rem;
  color: var(--color-darkGray);
  position: absolute;
  top: 50%;
  left: .75rem;
  transform: translateY(-50%);
}

/*------------------Sort Button Component---------------------*/
/*------------------------------------------------------------*/
.sort-button-component {
  min-width: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  background-color: #D9D9D9;
  position: relative;
  cursor: pointer;
}

.sort-button-component svg {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-darkGray);
  cursor: pointer;
}

.sort-button-list {
  margin-top: .5rem;
  width: 8rem;
  background-color: #D9D9D9;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

}

.sort-button-list li {
  padding-left: .5rem;
  height: 1.5rem;
  color: var(--color-darkGray);
  cursor: pointer;
}

.sort-button-list li:last-child {
  border: none;
}

.sort-button-list li:hover {
  background-color: hsl(0, 0%, 80%);
}

/*--------------------Dialog Component------------------------*/
/*------------------------------------------------------------*/
.dialog-component {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------------Nav Component-------------------------*/
/*------------------------------------------------------------*/
.navigation-component {
  position: fixed;
  background-color: var(--color-background);
  z-index: 1000;
}

.navigation-bar {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  align-items: center;
  justify-content: space-evenly;

}

.navigation-item {
  width: 3rem;
  height: 3rem;
  position: relative;
}

.navigation-item svg {
  width: 40%;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-darkGray);
  transition: 70ms ease;
}

.activated svg {
  color: var(--color-primary);
}

.navigation-item:hover svg {
  width: 50%;
  margin: auto;
  color: var(--color-primary);
}

.home-section {
  padding: 1rem;
  overflow-y: scroll;
}

@media only screen and (max-width:600px) {
  .navigation-component {
    height: 3.5rem;
    width: 100%;
    bottom: 0;
  }

  .navigation-bar {
    height: 3rem;
    width: 100%;
    bottom: 0;
    margin-top: .5rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
  }

  .navigation-list {
    flex-direction: row;
    width: 100%;
  }

  .home-section {
    height: calc(100vh - 5rem);
    margin: 0;
    margin-bottom: 3rem;
    position: relative;
  }
}

@media only screen and (min-width:600px) {
  .navigation-component {
    width: 3rem;

  }

  .navigation-bar {
    width: 3rem;
    height: 20rem;
    margin-top: 3rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .navigation-list {
    flex-direction: column;
    height: 100%;
  }

  .home-section {
    margin-left: 3rem;
    height: 100%;
  }
}

/*--------------------------CSS properties for pages--------------------------*/
/*----------------------------------------------------------------------------*/

/*-----------------------Auth Pages---------------------------*/
/*------------------------------------------------------------*/
.auth-component {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.auth-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-title svg {
  height: 4.5rem;
  max-width: 4.5rem;
}

.auth-title h1 {
  font-size: 2rem;
  color: var(--color-primary);
}

.auth-form {
  width: 100%;
  height: calc(100% - 4rem);
}

.auth-card-content {
  display:flex;
  justify-content: center;
  width: 100%;
}

/*---------------------Invoices Page---------------------------*/
/*------------------------------------------------------------*/
.invoices-searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.invoices-list-component {
  max-height: 35rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}

.invoices-list-title {
  padding: .5rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: var(--color-background);
}

.invoices-list-title h1 {
  color: inherit;
}

.invoices-list-separator {
  flex: 1;
  height: 3px;
  border-radius: 1.5px;
  background-color: inherit;
}

.invoices-grid {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 16rem));
  gap: 1rem;
  align-items: flex-start;
}

.invoice {
  background: white;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
}

.invoice:hover {
  background-color: var(--color-card-hover);
}

.invoice-state-pending {
  text-align: right;
  font-size: .9rem;
  color: var(--color-darkGray);
}

.invoice-state-validated {
  text-align: right;
  font-size: .9rem;
  color: var(--color-primary);
}

.invoice-state-declined {
  text-align: right;
  font-size: .9rem;
  color: var(--color-error);
}

.invoice-date-information {
  margin-top: .25rem;
  display: flex;
  gap: .25rem;

}

.invoice-date-information span {

  color: var(--color-darkGray);
  font-size: .9rem;
}

.invoice-price {
  display: flex;
  justify-content: space-between;
}

.invoice-description {
  margin-top: .25rem;
  overflow: hidden;
  height: 4.75rem;
}

.invoice-description p {
  color: var(--color-darkGray);
  font-size: .8rem;
}

.invoice-separator {
  margin-bottom: .5rem;
  margin-top: .5rem;
  border: 1px solid var(--color-lightGray);
  border-radius: 1px;
}


.invoices-empty-message {
  color: var(--color-darkGray);
}

/*--------------------Add invoice Page------------------------*/
/*------------------------------------------------------------*/
.add-invoice-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-invoice-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.add-invoice-form {
  width: 100%;
  height: 32rem;
}

/*---------------------Invoice Page---------------------------*/
/*------------------------------------------------------------*/
.invoice-page {
  display: flex;
  justify-content: center;
}

.invoice-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  gap: 1rem;
  padding: 1rem;
}

.invoice-user-data {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.invoice-user-data h1 {
  color: var(--color-primary);
}

.invoice-user-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.invoice-user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.invoice-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
}

.invoice-concept {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
  height: 20rem;
  overflow: auto;
  position: relative;
}

.invoice-total-rows table {
  width: 100%;
}

.invoice-concept table {
  width: 100%;

}

.invoice-concept thead th {
  position: sticky;
  top: 0;
  left: 0;
}

.invoice-concept th {
  background-color: #67AEE1;
}

.invoice-button-box {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: .25rem;
}

.invoice-button {
  padding: .25rem;
  border: none;
  border-radius: .25rem;
  color: white;

  cursor: pointer;
}

/*---------------------Profile Page---------------------------*/
/*------------------------------------------------------------*/
.profile-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.profile-page-section {
  margin-top: 1rem;
  width: 100%;
  height: 30rem;
  overflow: scroll;
  overflow-x: hidden;
}

.profile-page-signout {
  color: var(--color-complementary);
  cursor: pointer;
}



/*----------------------Inbox Page----------------------------*/
/*------------------------------------------------------------*/
.inbox-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.inbox-notification-component {
  width: 100%;
  max-width: 30rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
}

.inbox-notification-component:hover {
  background-color: var(--color-card-hover);
}

.inbox-notification-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.inbox-notification-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inbox-notification-content {
  width: calc(100% - 6rem);
}

.inbox-notification-title {
  font-size: 1.1rem;
}

.inbox-notification-message {
  margin-top: .25rem;
}

.inbox-notification-timestamp {
  display: flex;
  gap: .25rem
}

.inbox-notification-timestamp span {
  font-size: .8rem;
  color: var(--color-darkGray);
  margin-top: .25rem;
}

.inbox-notification-validate-button {
  margin-top: .25rem;
  padding: .25rem .5rem;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
}

.inbox-notification-decline-button {
  margin-top: .25rem;
  padding: .25rem .5rem;
  background-color: var(--color-complementary);
  color: white;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
}

.inbox-empty-message {
  color: var(--color-darkGray)
}

/*--------------------Statistics Page-------------------------*/
/*------------------------------------------------------------*/
.statistics-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.statistics-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 25rem;
}


.profile-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-details-user-info{
  margin-top: 1rem;
  width: 100%;
}